BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
BreakBeforeInheritanceComma: false
BreakConstructorInitializers: AfterColon
Cpp11BracedListStyle: true
PointerAlignment: Right
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
AccessModifierOffset: 0
SpaceBeforeParens: ControlStatements
AlwaysBreakTemplateDeclarations: true
