# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.sdf
*.obj

core
*.lib
*.pdb

*.depend
*.layout
*.save
*.user*

crashes/
build/

/build/
/build*/
/old/

*.autosave
*.gcov


gmon.out
out.txt
callgrind.out*
massif.out*
cachegrind.out*
profile.out
profile.coz*
hardening/coz/nothing.ly
hardening/fuzzing/in/
hardening/fuzzing/results/
dependencies/toolset/zig/


zig-out/
zig-cache/


.vscode/BROWSE.VC.DB*
.godot/
Blueprints.json
imgui.ini

.vscode/
dependencies/icu
out.txt

code/llvm/current/*.ll

conan/*.cmake
conan/*.json
conan/*.sh
conan/*.profraw

binaries/


CMakeUserPresets.json

tests/cases/vm/
tests/cases/sema
tests/cases/parser


ignore/
